# Entorno virtual
venv/

# Archivos temporales de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos generados
static/plot.png

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de configuración del IDE
.idea/
*.code-workspace